{% extends "base.html" %}

{% block pagetitle %}Pagina Principal{% endblock %}
{% block title %}ANAR{% endblock %}
{% block user %}
Ruby de Valencia
{% endblock %}

{% block mainmenu %}
<ul class="list-unstyled main-menu">
    <li class="active"><a href="#">Sitio Web</a></li>
    <li><a href="#">Software Interactivo</a></li>
    <li><a href="#">Realidad Aumentada (demo)</a></li>
    <li><a href="#">Geoportal de Manifestaciones Rupestres Venezolanas</a></li>
</ul>
{% endblock %}
{% block submenu %}
<ul class="list-inline ">
    <li class="active"><a href="#">Inicio</a></li>
    <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"  role="button" aria-expanded="false">Quienes somos</a>
        <ul class="dropdown-menu" role="menu">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Origen y Trayectoria</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">&Aacute;reas de Especializaci&oacute;n</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Proyectos actuales</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Profesionales adjuntos</a></li>
        </ul>
    </li>
    <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"  role="button" aria-expanded="false">Patrimonio Rupestre Venezolano</a>
        <ul class="dropdown-menu" role="menu">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Ley de Protecci&oacute;n del Patrimonio</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Pinturas Rupestres</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Geoglifo</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Petroglifo</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Amoladores</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Monumentos Megal&iacute;ticos</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Micropetroglifos</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Piedras y Cerros M&iacute;ticos Naturales</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Geoportal Manifestaciones Rupestres Venezolanas</a></li>
        </ul>
    </li>
    <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"  role="button" aria-expanded="false">Programa de Educaci&oacute;n</a>
        <ul class="dropdown-menu" role="menu">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Las Manifestaciones Rupestres y la Escuela</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Convenios</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Material Did&aacute;ctico</a></li>
        </ul>
    </li>
    <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"  role="button" aria-expanded="false">Productos y Servicios</a>
        <ul class="dropdown-menu" role="menu">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Publicaciones</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Productos</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Asesor&iacute;as</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Visitas Guiadas</a></li>
        </ul>
    </li>
    <li><a href="#">Contacto</a></li>
</ul>
{% endblock %}

{% block content %}
<p>
El ANAR -Archivo Nacional de Arte Rupestre- tiene como propósito fundamental el servir de Centro de Referencia y Servicio de Información para el conocimiento y protección de las Manifestaciones Rupestres en Venezuela, como parte de la conservación de la memoria histórica y documental de este patrimonio cultural arqueológico del país.
</p>
{% endblock %}


