{% extends "website-base.html" %}


{% block user %}
Ruby de Valencia
{% endblock %}

{% block submenu %}
<ul class="list-inline ">
    <li ><a href="{% url index %}">Inicio</a></li>
    <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"  role="button" aria-expanded="false">Quienes somos</a>
        <ul class="dropdown-menu" role="menu">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url origenytrayectoria %}">Origen y Trayectoria</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url areasdeespecializacion %}">&Aacute;reas de Especializaci&oacute;n</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url proyectosactuales %}">Proyectos actuales</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url profesionalesadjuntos %}">Profesionales adjuntos</a></li>
        </ul>
    </li>
    <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"  role="button" aria-expanded="false">Patrimonio Rupestre Venezolano</a>
        <ul class="dropdown-menu" role="menu">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url nota %}">Nota</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url leydeproteccion %}">Ley de Protecci&oacute;n del Patrimonio</a></li>
            <li role="presentation"><a style="color: purple;" role="menuitem" tabindex="-1" href="{% url pinturasrupestres %}">Pinturas Rupestres</a></li>
            <li role="presentation"><a style="color: orange;" role="menuitem" tabindex="-1" href="{% url geoglifo %}">Geoglifo</a></li>
            <li role="presentation"><a style="color: red;" role="menuitem" tabindex="-1" href="{% url petroglifo %}">Petroglifo</a></li>
            <li role="presentation"><a style="color: brown;" role="menuitem" tabindex="-1" href="{% url amoladores %}">Amoladores</a></li>
            <li role="presentation"><a style="color: darkgreen;" role="menuitem" tabindex="-1" href="{% url monumentosmegaliticos %}">Monumentos Megal&iacute;ticos</a></li>
            <li role="presentation"><a style="color: darkorange;" role="menuitem" tabindex="-1" href="{% url micropetroglifos %}">Micropetroglifos</a></li>
            <li role="presentation"><a style="color: #337ab7;" role="menuitem" tabindex="-1" href="{% url piedrasycerrosmiticos %}">Piedras y Cerros M&iacute;ticos Naturales</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url geoportal %}">Geoportal Manifestaciones Rupestres Venezolanas</a></li>
        </ul>
    </li>
    <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"  role="button" aria-expanded="false">Programa de Educaci&oacute;n</a>
        <ul class="dropdown-menu" role="menu">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url manifestacionesylaescuela %}">Las Manifestaciones Rupestres y la Escuela</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url comunidadacademica %}">Comunidad Acad&eacute;mica</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url convenios %}">Convenios y Alianzas</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url materialdidactico %}">Material Did&aacute;ctico</a></li>
        </ul>
    </li>
    <li role="presentation" class="dropdown active">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"  role="button" aria-expanded="false">Productos y Servicios</a>
        <ul class="dropdown-menu" role="menu">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url publicaciones %}">Publicaciones</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url productos %}">Productos</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url asesorias %}">Asesor&iacute;as</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url visitasguiadas %}">Visitas Guiadas</a></li>
        </ul>
    </li>
    <li><a href="{% url contacto %}">Contacto</a></li>
</ul>
{% endblock %}

