
{% extends "quienessomos-base.html" %}
{% load staticfiles%}

{% block pagetitle %}&Aacute;reas de Especializaci&oacute;n{% endblock %}
{% block title %}&Aacute;reas de Especializaci&oacute;n{% endblock %}

{% block content %}
<p>
El <b>ANAR</b> está compuesto actualmente de los siguientes tipos de documentos: 
</p>
<ol>
<li><b>ARCHIVO NACIONAL DE ARTE RUPESTRE </b>
	<ul>
		<li>
	<b>Carpetas de Estaciones Rupestres:</b> Archivan las fichas de trabajo de campo que describen cada una de las 510 estaciones de arte rupestre (contentivas de 1 a 30 piedras por estación) registradas hasta la fecha en el Archivo, con las respectivas fotografías o ilustraciones tanto del yacimiento como de las piedras.
</li>
<li>
	<b>Fichas Cartográficas:</b> En las que se indica la ubicación de cada estación rupestre registrada, así como los exploradores que la han reseñado, dibujado y/o fotografiado, el año y la página en que se publicaron los hallazgos.
</li>
<li>
	<b>Carpetas de Documentos Bibliográficos:</b> Consiste en el compendio hasta la fecha de un total de documentos bibliográficos y hemerográficos referentes a las estaciones de arte rupestre venezolanas registradas en el ANAR.
</li>
<li>
	<b>Material No Bibliográfico:</b> Donde se encuentran fotografías e ilustraciones de cada una de las estaciones rupestres y piedras.
</li>
<li>
	<b>Carpetas de Documentos Bibliográficos Otros Países:</b> Consiste en el compendio de documentos bibliográficos y hemerográficos referentes al Arte Rupestre en otros países.
</li>
<li>
	<b>Fichero Bibliográfico:</b> Integra un total de 1000 referencias bibliográficas relativas al Arte Rupestre venezolano en general, así como una sección de tópicos relacionados (navegación primitiva, pintura corporal, técnicas modernas de prospección arqueológica...ect) y Arte Rupestre de otros países, con una cantidad similar de entradas.
</li>
<li>
	<b>Material no clasificado:</b> Corresponde a un extenso número de materiales acumulados en fecha posterior al libro El Diseño en los Petroglifos Venezolanos (1987), los cuales están siendo permanentemente recolectados y procesados para su integración al Archivo.
</li>
<p>
	Todos los documentos referidos en esta sección están codificados de manera cruzada, lo que permite una infinita variedad de relaciones que facilitan la labor del investigador. 
</p>
	</ul>
</li>
<li><b>ARCHIVO DE DOCUMENTOS BIBLIOGRÁFICOS </b> <br/>
<b>(Antropología General) </b>
<ul>
	<li>
Las carpetas de documentos de este Archivo se encuentran agrupadas en diferentes categorías antropológicas tales como Paleontología, Arqueología, Etnología...etc y subdivididas luego por países.
</li>
</ul>
</li>
<li><b>ARCHIVO DE DOCUMENTOS HEMEROGRÁFICOS </b> <br/>
<b>(Antropología General) </b>
<ul>
	<li>
Las carpetas de documentos de este Archivo se encuentran agrupadas siguiendo aproximadamente la misma clasificación del Archivo de Documentos Bibliográficos
</li>
</ul>
</li>
</ol>
<img src="{% static "images/quienessomos/organigrama.jpg" %}">
{% endblock %}