
{% extends "quienessomos-base.html" %}
{% load staticfiles%}

{% block pagetitle %}Origen y Trayectoria{% endblock %}
{% block title %}Origen y Trayectoria{% endblock %}

{% block content %}
<p>
El <b>ANAR</b> tiene su origen en el trabajo de investigación y recopilación documental sobre Arte Rupestre iniciado por la Antropólogo Jeannine Sujo en 1972, trabajo que a su vez formó la base para publicaciones realizadas en: 1975 (UCAB), 1976 (Paris), 1978 (IVIC), la exposición Petroglifos del Guri en la Galería de Arte Nacional, Caracas en 1978, y la inclusión de este tema en el Diccionario de Historia de la Fundación Polar en 1988. 
</p>
<p>
A partir de 1985 se integra a este trabajo la Arquitecto Paisajista Ruby De Valencia, quien enriquece además el Archivo con una serie de documentos fotográficos de las diferentes estaciones de Arte Rupestre venezolanas, pertenecientes a 17 de los 23 estados y lo complementa con un amplio archivo documental, cartográfico y bibliográfico sobre Arte Rupestre de Venezuela y otros países del mundo, materiales producto a la época de más de 10 años de investigación de campo, reseñados en artículos de diferentes revistas especializadas. 
</p>
<p>
Este trabajo de investigación formó la base para la publicación por sus autoras:
</p>
<p>

Ruby De Valencia y Jeannine Sujo, del libro <b>El Diseño en los Petroglifos Venezolanos</b> edición trilingüe de la Fundación Pampero, Caracas, 1987, 410 págs; así como la realización del proyecto de exposición museográfica del mismo nombre propuesto para la Sala de Exposiciones de la IBM en Nueva York (1988) y el proyecto que se prepara actualmente el ANAR sobre las Manifestaciones Rupestres en Venezuela.
</p>
<p>
 
La publicación fue acreedora de los siguientes reconocimientos nacionales e internacionales: Medalla de Bronce, <b>Exposición Internacional del Arte del Libro</b>, 1989, Leipzig, Alemania y Reconocimiento en la <b>IX Exposición Anual del Libro Ilustrado y la Fotografía Documental</b>, 1988, Instituto Autónomo Biblioteca Nacional, Caracas. 

</p>
<p>
Su contenido permitió:
<ul>
	<li>
Presentar el primer inventario documentado fotográficamente sobre la totalidad de estaciones rupestres registradas a nivel nacional hasta el momento, que conforman parte del patrimonio cultural arqueológico de Venezuela. 
	</li>
	<li>
Sustentar importantes conclusiones en el campo de la investigación antropológica referentes a Venezuela, en base al estudio e interrelación de las características estilísticas de estas estaciones; se formularon los horizontes estilísticos que definen las diferentes zonas geográficas del país. Estos horizontes permitieron a su vez orientar varias hipótesis referentes a algunas de las rutas migratorias más antiguas de nuestro país.
	</li>
</ul>
</p>
<p>
{% endblock %}