
{% extends "patrimoniorupestre-base.html" %}
{% load staticfiles%}

{% block pagetitle %}Amoladores{% endblock %}
{% block title %}<span style="color:grey">Amoladores</span>{% endblock %}

{% block content %}
<p>
Los <span style="color:grey">Amoladores líticos</span> son depresiones de formas ovaladas hechas por abrasión. Los <span style="color:grey">Puntos Acoplados</span> son grabados de forma semi-circular en la roca. 
</p>
<p>
Estas dos manifestaciones se han encontrado tanto acompañadas de <span style="color:red">petroglifos</span> como separadas de ellos, constituyendo yacimientos rupestres en sí mismo. 
</p>
<p>
Acompañando los <span style="color:red">petroglifos</span> que bordean los ríos, aparecen numerosas piedras con surcos en forma de <span style="color:grey">amoladores</span>, que pudieran indicar las formas de los instrumentos líticos utilizados para grabar los petroglifos.
</p>
{% endblock %}