
{% extends "patrimoniorupestre-base.html" %}
{% load staticfiles%}

{% block pagetitle %}Geoglifo{% endblock %}
{% block title %}<span style="color:orange">Geoglifo</span>{% endblock %}

{% block content %}
<p>
Los <span style="color:orange">Geoglifos</span> son manifestaciones rupestres grabadas sobre tierra, que como los petroglifos monumentales del <b>estado Amazonas</b>, sin duda buscaban asegurar su visibilidad a lo lejos, posiblemente son contemporáneos de los petroglifos. 
</p>
<p>
Son conocidos en el mundo entero los <span style="color:orange">geoglifos</span> de <b>Nazca</b>, Perú, pero muy pocos venezolanos y aún menos extranjeros, saben de la existencia de los <span style="color:orange">geoglifos</span> en el <b>estado Carabobo</b> y de enigmáticos relatos que los ubican también en el <b>estado Yaracuy</b>. 
</p>
<p>
El <b>ANAR</b> los documenta en videos de fotografía aérea, mapas y publicaciones ilustradas.
</p>
{% endblock %}