
{% extends "patrimoniorupestre-base.html" %}
{% load staticfiles%}

{% block pagetitle %}Ley de Protecci&oacute;n del Patrimonio{% endblock %}
{% block title %}Ley de Protecci&oacute;n del Patrimonio{% endblock %}

{% block content %}
<p>
Gaceta Oficial No. 4.623, Extraordinario de fecha 03 de Septiembre de 1.993.
 
<b><p class="text-center">TITULO I DEL PATRIMONIO CULTURAL</p></b>

<p>
<b>
CAPITULO I <br/>
DISPOSICIONES GENERALES 
</b>
</p>
<p>
<b>ARTICULO 1º</b> Esta Ley tiene por objeto establecer los principios que han de regir la defensa del Patrimonio Cultural de la República, comprendiendo ésta su investigación, rescate, preservación, conservación, restauración, revitalización, custodia, vigilancia, identificación y todo cuanto requiera su protección cultural, material y espiritual. 
<p/>
	<p>
<b>ARTICULO 2º</b> La defensa del Patrimonio Cultural de la República es obligación prioritaria del Estado y de la ciudadanía. Se declara de utilidad pública e interés social la preservación, defensa y salvaguarda de todas las obras, conjuntos y lugares creados por el hombre o de origen natural, que se encuentren en el territorio de la República, y que por su contenido cultural constituyan elementos fundamentales de nuestra identidad nacional. 
<p/>
	<p>
<b>ARTICULO 3º</b> Cuando la preservación de bienes que integren el Patrimonio Cultural de la República, implique una limitación que desnaturalice los atributos del derecho de propiedad, su titular podrá reclamar al Estado la indemnización correspondiente. En estos casos, a los efectos de determinar la indemnización, se seguirán los criterios establecidos en la Ley de Expropiación por Causa de Utilidad Pública o interés Social.
<p/>
	<p>
 <b>ARTICULO 5º</b> Corresponderá oficialmente al Instituto del Patrimonio Cultural todo cuanto atañe a la defensa de Patrimonio Cultural aquí prevista, con las excepciones que la Ley establezca. 
<p/>
<p>
<b>
CAPITULO II <br/>
DE LOS BIENES QUE CONSTITUYEN EL PATRIMONIO CULTURAL DE LA REPUBLICA 

</b>
</p>
<p>
<b>ARTICULO 6º</b> El Patrimonio Cultural de la República a los efectos de esta Ley, está constituido por los bienes de interés cultural así declarados que se encuentren en el territorio nacional o que ingresen a él quien quiera que sea su propietario conforme a lo señalado seguidamente:
<ol> 
<li>Los bienes muebles e inmuebles que hayan sido declarados o se declaren monumentos nacionales; </li>
<li>Los bienes inmuebles de cualquier época que sea de interés conservar por su valor histórico, artístico, <b>social o arqueológico que no hayan sido declarados monumentos nacionales;</b> </li>
<li>Los bienes muebles de cualquier época que sea de interés conservar por su excepcional valor histório o artístico; </li>
<li>Las poblaciones y <b>sitios que por sus valores típicos, tradicionales, naturales, históricos, ambientales, artísticos, arquitectónicos o arqueológicos, sean declarados dignos de protección y conservación</b>. Los centros históricos de pueblos y ciudades que lo ameriten y que tengan significación para la memoria urbana; </li>
<li><b>Los testimonios históricos y sitios arqueológicos vinculados con el pasado; </b></li>
<li> <b>El patrimonio documental y bibliográfico, archivos</b>, bibliotecas, mapotecas, fonotecas, videotecas, cinematecas <b> ydemás instituciones de igual naturaleza, tutelados actualmente por organismos específicos sin desconocer la titularidad de dichos organismos sobre los mismos;</b> </li>
<li><b>El patrimonio arqueológico y paleontológico</b> donde quiera que se encuentren, y </li>
<li> Cualquier otro bien de interés cultural que amerite ser declarado como tal.</li>
</ol>
</p>


<b><p class="text-center">TITULO IV </p>
	<p>
DEL PATRIMONIO ARQUEOLÓGICO Y PALEONTOLÓGICO DE LA REPUBLICA
</p>
</b>
<p>
<b>ARTICULO 35º</b> Son propiedad del Estado todos los bienes culturales declarados Patrimonio Cultural de la República, <b>relativos al patrimonio arqueológico, prehispánico,</b> colonial, republicano y moderno, así como los bienes del patrimonio paleontológico que fuesen descubiertos en cualquier zona del suelo o subsuelo nacional, especialmente las submarinas. 

<p/>
<p>
<b>ARTICULO 36º</b> Se prohíbe la destrucción de los bienes a que se refiere el artículo anterior. 

<p/>
<p>
<b>ARTICULO 37º</b> Los propietarios de terrenos bajo los cuales se encuentren objetos arqueológicos o paleontológicos, no podrán oponerse a los trabajos de exploración, levantamiento e inventario que el Instituto del Patrimonio Cultural autorice. 

<p/>
<p>
<b>ARTICULO 39º</b> Todo trabajo que tienda a descubrir, explorar, estudiar o excavar yacimientos arqueológicos o paleontológicos, deberá ser previamente autorizado por el Instituto del Patrimonio Cultural. La autorización anterior solo será concedida a arqueólogos o paleontólogos profesionales, así como a renombradas instituciones científicas, nacionales o extranjeras. 

<p/>
<p>
<b>ARTICULO 40º</b> El Instituto del Patrimonio Cultural podrá permitir la salida de colecciones duplicadas de objetos arqueológicos a favor de instituciones científicas extranjeras cuando no se juzguen útiles para los museos o instituciones nacionales, estadales o municipales, igualmente permitirá la salida de aquellas piezas que requieran tratamiento especial para conservación, restauración o examen. 

<p/>
<b><p class="text-center">TITULO VI </p>
	<p>

DE LAS SANCIONES
</p>
</b>

<p>
<b>ARTICULO 44º</b> Quedan obligados a una participación activa en pro de la defensa, rescate y conservación del Patrimonio Cultural de la República todos los ciudadanos que habiten en su territorio. Será penado con dos 2 a 4 años de prisión quien destruya, deteriore o dañe cualesquiera de los bienes establecidos en los artículos 2 y 6 de esta Ley. 

<p/>
<p>
<b>ARTICULO 45º</b> El que por haber obrado con imprudencia o negligencia, o bien con impericia en su profesión, arte o industria, o por inobservancia de esta Ley, de sus reglamentos, normas, órdenes escritas o disposiciones oficiales ocasionen algún daño a esos bienes, será sancionado con la mitad de la pena anterior.

<p/>
<p>
 <b>ARTICULO 46º</b> Quienes en búsqueda de bienes arqueológicos o paleontológicos realicen exploraciones o excavaciones no autorizadas, serán sancionados con la pena prevista en el artículo que antecede.
<p/>
</p>
{% endblock %}