
{% extends "patrimoniorupestre-base.html" %}
{% load staticfiles%}

{% block pagetitle %}Micropetroglifos{% endblock %}
{% block title %}<span style="color:darkorange">Micropetroglifos</span>{% endblock %}

{% block content %}
<p>
Los <span style="color:darkorange">Micropetroglifos</span> son pequeños guijarros o lajas líticas con grabados. 
</p>
<p>
De los estados centrales y andinos se conocen ejemplares de <span style="color:darkorange">micropetroglifos</span>, que aparecen en la literatura antropológica reseñados en relatos sobre conjuros mágicos, su uso como calendarios o monedas y entre los informantes indígenas su uso por chamanes para atraer la lluvia.
</p>
{% endblock %}