
{% extends "patrimoniorupestre-base.html" %}
{% load staticfiles%}

{% block pagetitle %}Monumentos Megal&iacute;ticos{% endblock %}
{% block title %}<span style="color:darkgreen">Monumentos Megal&iacute;ticos</span>{% endblock %}

{% block content %}
<p>
Son admirados los <span style="color:darkgreen">megalíticos</span> de <b>Stonehenge</b>, pero ignorados los <b>círculos de piedra</b> con <b>grabados astronómicos</b> del estado Cojedes, las filas de <span style="color:darkgreen">megalíticos</span> del estado Carabobo, y los <span style="color:darkgreen">menhires y dólmenes</span> del estado Amazonas.
</p>
<p>
Los grabados de<span style="color:red"> petroglifos</span> y <span style="color:brown">puntos acoplados</span> <b>sobre</b> <span style="color:darkgreen">menhires</span> que se encuentran en Venezuela, indicadores de la contemporaneidad de ambas manifestaciones en nuestro país, son de importancia mundial en el difícil ámbito de las dataciones arqueológicas. 
</p>
<p>
El <b>ANAR</b> posee los relatos y dibujos de exploradores tan antiguos como Chanffanjon y Humboldt, y fotografías digitalmente resaltadas de estos hermosos ejemplares.
</p>
{% endblock %}