
{% extends "patrimoniorupestre-base.html" %}
{% load staticfiles%}

{% block pagetitle %}Nota{% endblock %}
{% block title %}Nota{% endblock %}

{% block content %}
<p>
"Los colores que aparecen en cada una de las <b>Manifestaciones Rupestres y sus Mapas</b>, corresponden a las convenciones que se han utilizado desde el comienzo en el <b>ANAR, y no tienen ninguna otra connotación</b>"
</p>
<p>
<b>OJO……………IMPORTANTISIMO……………ACLARATORIA</b>
</p>
<p>
 En algunas fotografías de <span style="color:red">petroglifos</span> de ésta página y publicaciones sobre el tema, aparecen los surcos pintados de blanco. Esto se debe a las técnicas, herramientas y métodos utilizados en el pasado por los investigadores en todos los países, para el registro y documentación gráfica de la información. 
</p>
<p>
En la actualidad <b>NO ES RECOMENDABLE LIMPIAR LAS PIEDRAS de las diferentes pátinas (vegetales, tierra…ect) CON CEPILLOS, y menos RASPAR, PINTAR LOS SURCOS, HACER MOLDES CON BARRO, UTILIZAR RESINAS sobre las piedras para el mismo fin, y /o para resaltar las imágenes</b>, porque invalida trabajos a realizarse en los sitios rupestres, donde toda la información del contexto original, es necesaria para estudios de datación y conservación entre otros, además de alterar y desproteger el material. 
</p>
<p>
Con las nuevas <b>Tecnologías Digitales</b>, realmente se puede realizar un trabajo de registro y documentación de imágenes de mucha calidad y exactitud, sin intervenir las piedras y/o el yacimiento.
</p>
{% endblock %}