
{% extends "patrimoniorupestre-base.html" %}
{% load staticfiles%}

{% block pagetitle %}Petroglifo{% endblock %}
{% block title %}<span style="color:red">Petroglifo</span>{% endblock %}

{% block content %}
<p>
El grabado sobre la piedra es lo que hoy conocemos con el nombre de Petroglifo. 
</p>
<p>
En Venezuela los encontramos diseminados prácticamente por todo el territorio: en las sabanas, en las altas montañas, en las orillas y en medio de los ríos, también en las selvas. Hay autores que indican que los <span style="color:red">petroglifos</span> orientados o visibles a grandes distancias servían de guía a las tribus inmigrantes.  Para otros estas piedras pudieron ser límites territoriales prehistóricos, indicadores de sitios de reunión, representaciones cartográficas de primitivas rutas o indicadores de sitios funerarios. 

</p>
<p>
Se destacan en Venezuela <span style="color:red">petroglifos</span> de inusitados grosor y profundidad de surcos (hasta 10 cms.) los cuales se encuentran bordeando el pie de monte andino en el <b>estado Barinas</b> en un área de 40 kms. de largo. En Barinas además de los <b>estados Falcón</b> y <b>Bolívar</b> aparecen ejemplares en los que el dibujo resalta en alto relieve lineal en lugar del más común bajorrelieve de la mayoría de los <span style="color:red">petroglifos</span>. En el <b>estado Amazonas</b> se encuentran murales de hasta 30 mts. de largo grabados a más de 50 mts de altura sobre inaccesibles laderas de piedra pulida. 
</p>
<p>

La literatura antropológica posee pocos casos en los que el significado de los <span style="color:red">petroglifos</span>, signos anteriores a la escritura, hayan sido científicamente interpretados y confirmados. 
</p>
<p>
Venezuela posee la suerte de tener aún viva esta manifestación, al sur del Río Negro donde chamanes de antiguas etnias de origen Arawako aún la utilizan y la interpretan en ceremonias de iniciación masculinas y femeninas.
</p>
{% endblock %}