
{% extends "patrimoniorupestre-base.html" %}
{% load staticfiles%}

{% block pagetitle %}Piedras y Cerros M&iacute;ticos Naturales{% endblock %}
{% block title %}<span style="color:#337ab7">Piedras y Cerros M&iacute;ticos Naturales</span>{% endblock %}

{% block content %}
<p>
Las interpretaciones y significados de las colinas <span style="color:#337ab7">Piedras y Cerros Míticos Naturales</span> en nuestro país se correlacionan con las variadas y extensas mitologías que todavía forman parte de la cultura viva de los 30 grupos étnicos linguísticamente diferenciadas. 
</p>
<p>
El <b>ANAR</b> documenta el aspecto material de este patrimonio en las fotografías, registros de trabajo de campo y publicaciones tanto de investigadores contempor´neos como de los exploradores y cronistas que viajaron a través de siglos de Venezuela del interior antes de la aparición de la antropología como ciencia.
</p>
{% endblock %}