
{% extends "patrimoniorupestre-base.html" %}
{% load staticfiles%}

{% block pagetitle %}Pinturas Rupestres{% endblock %}
{% block title %}<span style="color:purple">Pinturas Rupestres</span>{% endblock %}

{% block content %}
<p>
Las <span style="color:purple">Pinturas Rupestres</span>, también llamadas <span style="color:purple">Pictografías</span>, aparecen realizadas en cuevas y abrigos protegidas del clima, y de la visibilidad fácil. Son mundialmente reconocidas las <b>cuevas de Altamira y de Lascaux</b> por sus pinturas rupestres, pero muy pocas personas saben que en <b>Venezuela existen más de 20 abrigos y cuevas con <span style="color:purple">pinturas rupestres</span> de época prehispánica</b>, y más aún, que estas manifestaciones se extienden hasta el presente, en las pinturas que acompañan los restos mortuorios de etnias indígenas contemporáneas, los rituales de la tradición espiritista o santera, y que aparecen incluso en grandes murales al aire libre (estado Aragua) de manufactura prehispánica. 
</p>
<p>
El <b>ANAR</b> contiene estos registros en documentos bibliográficos y fotográficos.
</p>
{% endblock %}