
{% extends "productosyservicios-base.html" %}
{% load staticfiles%}

{% block pagetitle %}Asesor&iacute;s{% endblock %}
{% block title %}Asesor&iacute;s{% endblock %}

{% block content %}
<p>
<b>ANAR</b> es accesible al público a través de la consulta personal, página web, su boletín.. 

Se espera llegar a ser la base fundamental para la difusión de una nueva conciencia: en Venezuela, <b>SI EXISTE</b> un extraordinario merecedor del Patrimonio Arqueológico de ser de la publicación y la protección.
</p>
{% endblock %}