
{% extends "productosyservicios-base.html" %}
{% load staticfiles%}

{% block pagetitle %}Productos{% endblock %}
{% block title %}Productos{% endblock %}

{% block content %}

<h5>EL DISEÑO EN LOS PETROGLIFOS VENEZOLANOS</h5>
<p>
Ruby De Valencia & Jeannine Sujo Edición trilingüe, Fundación Pampero, Caracas, 1.987. Presenta el primer y único inventario documentado fotográficamente sobre la totalidad de estaciones rupestres registradas a nivel nacional hasta el momento, que conforman parte del patrimonio cultural arqueológico de Venezuela.
</p>
<p>
Sustenta importantes conclusiones en el campo de la investigación antropológica referentes a Venezuela, en base al estudio e interrelación de las características estilísticas de estas estaciones; se formulan los horizontes estilísticos que definen las diferentes zonas geográficas del país. Estos horizontes permitieron a su vez orientar varias hipótesis referentes a algunas de las rutas migratorias más antiguas de nuestro país. 
</p>
<p>
La publicación fue acreedora de los siguientes reconocimientos nacionales e internacionales: Medalla de Bronce, Exposición Internacional del Arte del Libro, 1989, Leipzig, Alemania y Reconocimiento en la IX Exposición Anual del Libro Ilustrado y la Fotografía Documental, 1988, Instituto Autónomo Biblioteca Nacional, Caracas.
</p>
{% endblock %}