
{% extends "programadeeducacion-base.html" %}
{% load staticfiles%}

{% block pagetitle %}Comunidad Acad&eacute;mica{% endblock %}
{% block title %}Comunidad Acad&eacute;mica{% endblock %}

{% block content %}
<p>
El <b>ANAR</b> mantiene una permanente relación con la comunidad a través de conferencias audiovisuales dictadas a colegios, universidades y otras entidades que lo soliciten. 
</p>
<p>
Su participación en el medio académico es constante recibiendo estudiantes en pasantía por créditos, y tesistas de las Escuelas de Antropología, Historia, Geografía, Arte, Turismo, de las Universidades del país, así como de los diferentes Institutos de Diseño.
</p>
<p>
 El <b>ANAR</b> se encuentra en proceso de actualización, sistematización y automatización de la información contenida en sus diferentes archivos, utilizando modernas herramientas de gestión de servicios informativos y las últimas tecnologías de computación y comunicación, para ampliar la capacidad de divulgación del conocimiento del Arte Rupestre Venezolano, de manera que sirva de orientación y base a futuras investigaciones.


</p>
{% endblock %}