
{% extends "programadeeducacion-base.html" %}
{% load staticfiles%}

{% block pagetitle %}Convenios y Alianzas{% endblock %}
{% block title %}Convenios y Alianzas{% endblock %}

{% block content %}
<p>
El <b>ANAR</b> es un recurso valioso para las investigaciones que sobre Arte Rupestre se llevan a cabo en Venezuela. 
</p>
<p>
Entre sus miembros activos cuenta con las <b>Escuelas de Antropología, de Bibliotecología y Archivología de la Universidad Central de Venezuela –UCV-. </b>
</p>
<p>
Sostiene convenios con <b>IUTIRLA –Instituto Universitario de Tecnología Industrial “Rodolfo Loero Arismendi”, Universidad José María Vargas –UJMV-, Centro de Diseño DigitaL –CDD-, Instituto de Diseño Darias –IDDAR-</b>...entre otros. 
</p>
<p>
Establece contacto con personas e Instituciones del país y del exterior para intercambiar información sobre el estudio y preservación de este Patrimonio Cultural Arqueológico. 
	<ul>
		<li>
En el marco del Convenio firmado con el IUTIRLA –Instituto Universitario de Tecnología Industrial “Rodolfo Loero Arismendi”: 
</li>
</ul>
</p>
<p>
<b>2002 </b>
</p>
<p>
Los alumnos de la carrera de <b>Diseño Gráfico</b> como trabajo de tesis de grado desarrollaron la imagen institucional del <b>ANAR</b>. 
</p>
<p>
Resultó escogido el trabajo realizado por la Br. <b>ADRIANA OSORIO</b>. Participaron además con sus trabajos, los siguientes alumnos hoy Diseñadores Gráficos: 
</p>
<p>
	<b>
Gil BENÍTEZ ARRIOJAS, Yendri MOYA, Mariana NECOLL, Jessica ROQUE, Brenda VILLARROEL, Yohalis SUBERO, Sandra VERANEES, Nazareth MONSALVE, Giussepe MOLINARO, Kisbeth ESPAÑA, Carolina ALVAREZ, Barbara TRIVIÑO, Hermann Iran CARMONA, Cruz MARCANO, María Teresa JIMÉNEZ, Alejandra FONSECA, Luis Manuel BLANCO, Carlos Simón BRICEÑO, Lisbeth HERRERA, Carlos ZERPA 
</b>
</p>
<p>
<b>2003</b>
</p>
<p> 
Como aporte al <b>PROGRAMA DE EDUCACIÓN</b> del <b>ANAR</b>, dirigido a los estudiantes de Educación Básica, Media y Diversificada, los alumnos de la Cátedra de Maquetería de la carrera de Diseño Gráfico, desarrollaron con marionetas, los personajes de tres (3) mitos indígenas relacionados con el comienzo del Arte Rupestre en las culturas Tamanaco, Piaroa y Curripaco de los estados Bolívar y Amazonas. 
</p>
<p>
Participaron con sus trabajos los siguientes alumnos: 
</p>
<p>
	<b>
Maria Gabriela CARDENAS, Meilyn Klaribeth ACOSTA CHACON, Bárbara Mireya RUIZ SUAREZ, Elsa Teresa PITA DE TEIXEIRA, Alfred de Jesús PARODI LEAL, Gioravik Mari ZAMBRANO GONZALEZ, Yensys Olinda YDLER ALVAREZ, Freddy José RAMIREZ MARCHAN, Hecdan Eduardo D'ANDREA VARGAS, Elio José DEBOURG MOLINA, Rosa Emileth BENITEZ BARRIOS, Carlos José BRICEÑO JONES, Iris Vanesa MENDOZA MARTINEZ, Monica Alejandra MELO PARELES, Yamileth Noemí GONZALEZ FRANCO, Douglas Alfonso GONZALES ORTA, Aracelis Maria GARRIDO RAMOS, José Luis BARRAZA ARIZA, Joel Buruc MORONTA RUIZ, Sharin OJEDA AVILA, Indira ZAMBRANO ORTIZ, Alexander ROMAR OCANTO, Ignacio OJANGUREN RIVAS, Jesus Leandro PEREZ FUENTES, Yorline SIMANCA, Ronald ROJAS 
</b>
</p>
<p>
<b>PASANTIAS</b>
</p>
<p>
<b>2002</b>
</p>
<p> 
Luis Manuel ALFONSO, María Gabriela VARGAS 
</p>
<p>
<b>2003</b>
</p>
<p> 
Patricia GIANFRIDDO, Dodanim GONZALEZ 
</p>
<p>
	<ul>
		<li>
En el marco del Convenio con la <b>UNIVERSIDAD CENTRAL DE VENEZUELA </b>
</ul>
</li>
</p>
<p>
<b>PASANTIAS </b>
</p>
<p>
<u><b>Escuela de Antropología. Facultad de Ciencias Sociales </b></u>
</p>
<p>
<b>2002 </b>
</p>
<p>
<b>Sindy GONZALEZ, Anibal CARBALLO </b>
</p>
<p>
<b>2003 </b>
</p>
<p>
<b>Suyin MARQUEZ</b><br/>
<b> Mariana FLORES</b> <br/>
<b>Deir’dre CARRILLO</b> -desde 2003- <br/>
<b>Francisco CATALANO</b> -desde 2003- <br/>
</p>
<p>

<u><b>Escuela de Historia. Facultad de Humanidades </b></u>

</p>
<p>
<b>2002 </b>
</p>
<p>
<b>José Rafael FAGUNDEZ </b>
</p>
<p>
<u><b>Escuela Filosofía. Facultad de Humanidades</b></u>

</p>
<p>
2004 
</p>
<p>
Vanessa ALCAINO 

</p>
<p>
	<ul>
		<li>
En el marco del convenio con la <b>UNIVERSIDAD JOSÉ MARÍA VARGAS. Escuela de Diseño Gráfico. Facultad de Arquitectura y Artes Plásticas
</li>
</ul>
 </b>

</p>
<p>
PASANTIAS 

</p>
<p>
2004 
</p>
<p>
Vanesa BARRAL, Rubi UZCATEGUI, Joisar GARCIA, Oskary ODON 

</p>
<p>
2005 
</p>
<p>
Gressi Michelle Jáuregui 

</p>
<p>
<u><b>INSTITUTO DE DISEÑO PERERA</b></u>

</p>
<p>
2004 
</p>
<p>
Alexander CANO, Carolina ARANGUREN, María Lourdes TORRES, Diego NONNI, María José QUINTERO, Jesús SIFONTES 

</p>
<p>
	<ul>
		<li>
En el marco del convenio con el <b>IDDAR –Instituto de Diseño DARIAS-. </b>
</li>
</ul>
</p>
<p>
PASANTIAS 

</p>
<p>
2005 
</p>
<p>
María Teresa GARCIA, Emma CONSTANTINI, Miguel TORTOSA, Valter CACURRI 

</p>
<p>
TESIS de GRADO 

</p>
<p>
2005 
</p>
<p>
Giorelis NIÑO, Hector BARRIOS 
</p>
<p>
<u><b>AGRADECIMIENTOS</b></u>

</p>
<p>
<b>ANAR</b> agradece muy especialmente la colaboración y el apoyo prestado a los profesores: 

</p>
<p>
	<ul>
<li>Alicia RODIZ - IUTIRLA / FUNDABITAT </li>
<li>Oscar COLMENARES - IUTIRLA </li>
<li>Carmen SANDOVAL - IUTIRLA / INSTITUTO PEDAGÓGICO DE CARACAS </li>
<li>Nelson OSÍO - IUTIRLA </li>
<li>Diamar GUANIPA - IUTIRLA </li>
<li>Juan Carlos DARIAS - IDDAR </li>
<li>Domingo VILLALBA - IDDAR </li>
<li>Carlos RODRÍGUEZ - IDDAR </li>
<li>Odille RUIZ - IDDAR </li>
<li>Ibraim NEBREDA - IDDAR </li>
<li>Luis GIRALDO - IDDAR </li>
<li>Luis PEREZ PEREZ - IDDAR </li>
<li>Antr. Kay TARBLE - Escuela de Antropología de la UCV </li>
<li>Antr. Adelaida STRUCK - Escuela de Antropología de la UCV </li>
<li>Antr. Carlos A. MARTÍN - Escuela de Antropología de la UCV </li>
<li>Lic. Mira KUGELMANN - FUNDAUC- Universidad de Carabobo / FUNDABITAT </li>
<li>Dis. Luis MULLER - Museo de Bellas Artes / FUNDABITAT </li>
<li>Arqto. Jorge CAMPDERA - Universidad Jose María Vargas </li>
<li>Y al Lic. José Enrique TOMÁS MARTÍN de la <b>Fundación TAMAYO</b> por su oportuna y desinteresada colaboración, para el buen funcionamiento del <b>ANAR</b></li>
</ul>
</p>
{% endblock %}